


body {
    font-family: 'Karla', sans-serif;
    background-color: #f3f0e9;
    margin: 0;
    padding: 0;
    color: #000000;
}

h1, nav {
    font-family: 'Lato', sans-serif;
}

.skip-link{

} 






.navbar {
    background-color: #000000;
    padding: 5px 80px;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    display: inline-block;
    padding: 10px 20px; /* around nav bar*/
    color: white; /* text color */
    text-decoration: none; /* text no underline */
    font-size: 16px;
}

.navigation ul li a:hover {
    background-color: #000000;
}
