
 /* for mobile */

body {
    font-family: 'Karla', sans-serif;
    background-color: #f3f0e9;
    margin: 0;
    padding: 0;
    color: #000000;
}

h1, nav {
    font-family: 'Lato', sans-serif;
}

.skip-link{
    position: absolute;
    background-color: #000000;
    color: #ffffff;

} 






header {
    background-color: #000000;
    padding: 5px 80px;
    position: relative;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    align-items: center;
}

.navigation ul {
    list-style: none; /*no bullet point*/
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    display: inline-block;
    padding: 10px 20px; /* around nav bar*/
    color: white; /* text color */
    text-decoration: none; /* text no underline */
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    background-color: #000000;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 0rem;
}



#hero {
    background-image: url(../images/hero-background.jpg);
}

#hero {
    color: #ffffff; 
    height: 100vh;
    display: flex; /*centering content */
    align-items: center; /* vertical centering */
    justify-content: center; /* horizontal centering */
}

.container-hero {
    max-width: 600px;
}

.content {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

button {
    font-size: 1rem;
    padding: 10px 50px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: default;
    transition: background-color 0.3s,  transform 0.2s ease;
}

button:hover {
    background-color: #966f2c;
}












#coffee-shop {
    background-image: url(../images/coffee-shop.jpeg);
}


/* typescales for table and desktop */

@media (min-width: 768px) {
    h1 {font-size: 2.986rem;}
    h2 {font-size: 2.488rem;}
    h3 {font-size: 1.728rem;}
    p {font-size: 1rem;}
}


@media (min-width: 1100px) {
    h1 {font-size: 3.815rem;}
    h2 {font-size: 3.052rem;}
    h3 {font-size: 1.953rem;}
    p {font-size: 1rem;}
}